[default]
bootstrap.servers=pkc-41mxj.uksouth.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=JEO4Q55EDWZMM2DY
sasl.password=d0+horcp5WDLpnftwcZGfIGHSqAnWBK0GwyvOnmks6GRWQErZMrozRKtw1ZsPyMv

[schema-registry]
url=https://psrc-xyxnq.uksouth.azure.confluent.cloud
basic.auth.user.info = IE446Z3DWHUCKRLU:uaZAjbSK7iPViXPskJ74KSPxmVBJZ9XxR360RF8Ok2SdilTij49f/lQPoO6jVedn
